* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
:root {
  --color1: #ee1010;
  --color2: #fcd4d4;
  --color3: #7b0808;
  --color4: #806c6c;
  --color5: #d6b4b4;
  --color6: #d08585;
}

.header {
  background-color: var(--color4);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
}

.logo_header {
  width: 160px;
  display: block;
}

.div_input_header {
  display: flex;
  width: 255px;
  height: 30px;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #fff;
  border-radius: 12px;
}

.input_header {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
}
.icon_lupa {
  font-size: 15px;
  color: var(--color6);
}
.links_header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.links_header {
  text-decoration: none;
  color: #fff;
}
.icon_contato {
  font-size: 18px;
}
.bag_car {
  font-size: 23px;
  margin-right: 20px;
}

/* Home */

.container_home {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.links_home {
  color: #000;
  text-decoration: none;
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Slide Banners */
.slide_container {
  width: 85%;
  margin: 0 auto;
}
.banner_slide {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

/* Div Produtos*/

.container_produtos h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slide_produtos {
  width: 90%;
  margin: 0 auto;
}

.card_produto {
  text-align: center;
  margin-bottom: 30px;
}

.img_card_product {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center; /* ou top, bottom se necessário */
}
.slide_produtos .swiper-button-next::after,
.slide_produtos .swiper-button-prev::after {
  color: #000000;
  background-color: var(--color4);
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
}
